# Read updates from storage data
r_dir_file(updater_app, mnt_user_file)
r_dir_file(updater_app, storage_file)

# Allow to install OTA's from local storage
allow updater_app backuptool:process noatsecure;
allow updater_app media_rw_data_file:file { open read write getattr };
