# Read updates from storage data
r_dir_file(updater_app, mnt_user_file)
r_dir_file(updater_app, storage_file)

# Allow to install OTA's from local storage
allow updater_app backuptool:process noatsecure;
allow updater_app media_rw_data_file:file { open read write getattr };

# Allow access to /cache/recovery/uncrypt_file
allow updater_app cache_file:file create_file_perms;
allow updater_app cache_file:dir r_dir_perms;
allow updater_app cache_recovery_file:dir rw_dir_perms;
allow updater_app cache_recovery_file:file create_file_perms;

allow updater_app system_update_service:service_manager find;

allow updater_app system_data_file:dir r_dir_perms;
allow updater_app user_profile_root_file:dir r_dir_perms;

allow updater_app system_app_data_file:file { read write getattr };
